:root {
    /* colors */
    --primary: #f3ede5;
    --text-primary: #000000;
    --text-secondary: #f7b300;
    --button-color: #133416;
    --paragraph-color: #6c6c6c;

    /* fonts */
    --primary-font: 'Inter'; /* 300, 400, 700 */
}
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#container {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
}
#nav {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding: 20px 15px;
}
#Menu {
    width: 8%;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    /* background-color: rebeccapurple; */
    align-items: center ;
    padding: 20px 15px;
}
#heading {
    font-family: var(--primary-font);
    font-weight: 700;
    color: black;
    font-size: 35px;
    line-height: 40px;
}
span {
    color: var(--text-secondary);
}
#paragraph {
    color: var(--paragraph-color);
    font-size: 15px;
    font-family: var(--primary-font);
    margin: 10px 0px;
}
button {
    height: 50px;
    border: none;
    width: 120px;
    background-color: var(--button-color);
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 15px;
    border-radius: 5px;
    margin: 15px 0px;
    transition: all 0.2s;
}
button:hover {
    border: 1px solid #133416;
    background-color: var(--primary);
    color: #133416;
}
#flex-p {
    color: var(--paragraph-color);
    font-size: 15px;
    font-family: var(--primary-font);
}
#flex {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#below {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#icons {
    display: flex;
    justify-content: center;
    /* width: 100vw; */
    flex-wrap: wrap;
    margin-top: 10px;
}
#icon-i {
    margin: 10px 0px;
    width: 200px;
}
#pop {
    position: absolute;
    background-color: white;
    top: 20px;
    border-radius: 20px;
    width: 95%;
    left: 10px;
    padding: 25px;
    display: none;
}
#inside-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3 {
    font-size: 13px;
    font-family: var(--primary-font);
    color: #8898aa;
    font-weight: 300;
}
#inside-prod {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
#product {
    display: flex;
    justify-content: start;
    margin: 10px 0px;
    align-items: center;
}
#product:hover {
    opacity: 50;
}
#flex-col {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}
#product p {
    font-family: var(--primary-font);
    color: #8898aa;
    font-size: 13px;
}
#product h3 {
    font-family: var(--primary-font);
    color: black;
    font-weight: 400;
}