:root {
    /* colors */
    --primary: #f3ede5;
    --text-primary: #000000;
    --text-secondary: #f7b300;
    --button-color: #133416;
    --paragraph-color: #6c6c6c;

    /* fonts */
    --primary-font: 'Inter'; /* 300, 400, 700 */
}

@media (min-width: 1024px) {
    #container {
        height: 100%;
    }
    #Menu {
        display: none;
    }
    #Links, #buttons {
        display: block;
    }
    #nav, #main {
        padding: 20px 100px;
    }
    #Links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Links a {
        margin: 0px 15px;
        text-decoration: none;
        text-transform: none;
        color: var(--paragraph-color);
    }
    #Links h2 {
        font-size: 15px;
        font-family: var(--primary-font);
        font-weight: 400;
    }
    #Link a:hover {
        opacity: 0.5;
    }
    #button2 {
        background-color: transparent;
        color: var(--paragraph-color);
        border: none;
        margin: 0px 30px;
        /* font-size: 100px; */
        transition: all 0.25s;
        font-size: 16px;
    }
    #button {
        width: 160px;
        height: 50px;
        font-size: 15px;
        font-weight: 700;
    }
    #button2:hover {
        opacity: 0.5;
    }
    #Logo {
        width: 150px;
    }
    #right {
        display: flex;
    }
    #above {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        padding-right: 200px;
    }
    #flex {
        justify-content: start;
    }
    #heading {
        font-size: 50px;
        line-height: 60px;
    }
    #paragraph {
        font-size: 15px;
        padding-right: 50px;
        margin: 20px 0px;
    }
    #flex-p {
        font-size: 15px;
    }
    #Hero {
        width: 350px;
    }
    #below {
        margin-top: 40px;
    }
    #icon-i {
        margin: 15px 30px;
        width: 150px;
    }
    #pop {
        width: 450px;
        padding: 35px;
        top: 100px;
        left: 550px;
    }
    h3 {
        font-size: 18px;
    }
    #product p {
        font-size: 18px;
    }
    #product {
        margin: 15px 0px;
    }
}